@import '../../core/vars';


.hero {
    padding-top: ($header-height + 100px);
    padding-bottom: 100px;
    background: url('../../assets/backgrounds/bg_header.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;

    .title {
        margin-top: 0px;
        font-size: 60px
    }
    .logo {
        width: 300px;
        margin-top: 20px;
    }

    .intro {
        margin-bottom: 0px;
        font-size: 25px;
    }

    .subtitle {
        margin: 40px 60px;
        font-size: 22px;
    }

    .btn-holder {
        padding-top: 25px;
        margin: auto;
        font-size: 23px;
    }

    .cta {
        margin: auto;
        margin-bottom: 20px;
        display: inline-block;

        &.tokens {
            display: block;
        }

        &.connected {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .form {
        margin-bottom: 10px;

        input {
            margin-top: 10px;
            font-size: 18px;
            width: 200px;
            padding: 5px 5px;
        }

        h2 {
            width: 200px;
            margin: 10px auto;
            font-size: 20px;
        }
    }

    .whitepaper-content {

        h2 {
            font-size: 18px;
            width: 203px;
            margin: 30px auto 10px auto;
        }
    }

    @media only screen and (min-width: $desktop-width) {
        .title {
            font-size: 90px;
            margin-bottom: 42px;
        }

        .intro {
            margin-bottom: 0px;
        }

        .whitepaper-content {
            display: inline-block;
            margin-left: 40px;
        }
        .form {
            display: inline-block;
            margin-right: 40px;
        }
    }
}

.about {
    padding-top: 35px;
    padding-bottom: 0px;
    background-image: url('../../assets/backgrounds/bg_meettheteam.jpg');
    color: #fff;

    .text {
        width: 80%;
        margin: auto;
        margin-bottom: 65px;
    }

    @media only screen and (min-width: $desktop-width) {
        padding-bottom: 60px;
    }
}

.projects {
    width: 100%;
    color: $brown;
    padding-bottom: 24px;

    h1 {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .ngxcarousel {
        width: 20%;
        margin: auto;
    }

    @media only screen and (min-width: 700px) {
        .mobile {
            display: none;
        }
    }
    @media only screen and (min-width: $desktop-width) {
        h1 {
            margin-bottom: 40px;
        }
        .ngxcarousel {
            width: 100%;
            margin: 0px;
        }
    }
    @media only screen and (min-width: 1000px) {
        .content-carousel {
            width: 1000px;
            margin: 0px auto;
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }
}

.token {
    background-image: url('../../assets/backgrounds/bg_Turbine_darker.png');
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: bottom;
    padding-bottom: 50px;
    color: #fff;
    display: flex;

    .content {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .header {
        padding-top: 50px;

        &.sale {
            padding-top: 0px;
        }
    }
    .text {
        padding: 0px 20px;
    }

    .flow {
        padding-top: 20px;
        margin: auto;
        width: 10%;
    }
    @media only screen and (min-width: $desktop-width) {
        .content {
            width: 915px;
        }
    }
}

.carbon {
    background-color: $brown;
    color: white;
    padding-top: 10px;
    padding-bottom: 40px;
    @media only screen and (min-width: $desktop-width) {
        padding-top: 60px;
    }

    .text {
        width: 90%;
        margin: 0px auto;
        padding: 30px 0px;


        @media only screen and (min-width: $desktop-width) {
            display: inline-block;
            width: 461px;
            text-align: left;

            h1.desktop-only {
                margin-top: 100px;
            }
        }
    }

    .img-flow {
        width: 60%;
        max-width: 300px;
        background: $gray;
        padding: 35px 23px;
        // padding: 20px;
        border-radius: 9999px;

        @media only screen and (min-width: $desktop-width) {
            width: 350px;
            float: right;
            padding: 27px 14px;
            margin-left: 20px;
        }
    }
}

.roadmap {
    padding-bottom: 50px;
    overflow: hidden;
    max-height: 1700px;
    transition: height 20s linear;
    position: relative;

    &.extended {
        max-height: fit-content;
    }

    .content {
        position: relative;
    }

    .start-dot {
        height: 30px;
        width: 30px;
        border-radius: 9999px;
        background-color: $brown;
        margin: auto;
        margin-bottom: 70px;
        z-index: 5;
        position: relative;

        &:after {
            margin-bottom: 30px;
        }
    }

    .timeline {
        position: absolute;
        border: dashed 1px black;
        height: 100%;
        left: -webkit-calc(50% - 1px);
        left:    -moz-calc(50% - 1px);
        left:         calc(50% - 1px);
    }

    .hex {
        @include hex(1, $gray, $brown);

        margin-bottom: 60px;
        margin-top: -30px;
        opacity: 0;
        transition: opacity .5s linear;

        &.fadeIn {
            opacity: 1;
        }
    }

    .hex-small {
        @include hex(.34, $gray, $light-green);
        display: none;

        @media only screen and (min-width: $desktop-width) {
            display: inline-block;
            font-size: 40px;
            vertical-align: middle;
        }
    }

    .node {
        text-align: center;
        z-index: 1;
        position: relative;
        opacity: 0;
        transition: all .5s ease-in;
        // transition: margin .5s ease-in;

        &.fadeIn {
            opacity: 1;
            margin-right: 0px;

            .line {
                width: 81px;
            }
        }

        @media only screen and (min-width: $desktop-width) {
            margin-right: -70px;
            margin-top: -150px;
            text-align: right;

            &.left {
                text-align: left;
                margin-right: 0px;
                margin-left: -70px;
                    &.fadeIn {
                        margin-left: 0px;
                    }

                .content {
                    text-align: left;
                }

                .line-holder {
                    border-left: 15px solid white;
                    border-right: none;
                    border-bottom: 15px solid transparent;
                    border-top: 15px solid transparent
                }

                .line {
                    margin-left: -2px;
                    margin-right: -8px;
                    border-image: linear-gradient(to right, white, $light-green) 1 0;
                }
            }
        }

        .line {
            display: none;
            transition: all .5s ease-in;

            @media only screen and (min-width: $desktop-width) {
                margin-left: -9px;
                margin-right: -2px;
                display: inline-block;
                width: 142px;
                vertical-align: middle;
                border-style: solid;
                border-width: 1px;
                border-image: linear-gradient(to right, $light-green, white) 1 0;
            }
        }

        .line-holder {
            display: none;

            @media only screen and (min-width: $desktop-width) {
                position: relative;
                z-index: 10;
                display: inline-block;
                margin-right: -4px;
                margin-left: -4px;        
                border-right: 15px solid white;
                border-bottom: 15px solid transparent;
                border-top: 15px solid transparent;
                vertical-align: middle;
            }
        }

        .content {
            text-align: right;
            width: 80%;
            margin: 50px auto;
            box-shadow: 8px 8px 11px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, 0.24);


            @media only screen and (min-width: $desktop-width) {
                width: 350px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .node-header {
            text-transform: uppercase;
            background: $green;
            padding: 15px;
            font-weight: 900;
        }
        .node-body {
            background-color: white;
            padding: 15px;
        }
    }

    .bottom-fade {
        position: absolute;
        top: 1426px;
        left: -520px;
        height: 300px;
        width: 400%;
        z-index: 19;
        background: linear-gradient(rgba(204, 204, 204, 0), $gray);

        &.extended {
            display: none;
        }

    }

    .cta {
        position: absolute;
        top: 1650px;
        margin: auto;
        z-index: 20;
        left: -webkit-calc(50% - 64px);
        left:    -moz-calc(50% - 64px);
        left:         calc(50% - 64px);

        &.extended {
            bottom: 0px;
            top: initial;
        }
    }
}

.contact {
    background-color: $brown;
    color: white;

    .content {
        width: 90%;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 40px;

        h1 {
            margin-top: 0px;
        }

        .textarea {
            height: 100px;
            display: block;
            margin-bottom: 30px;
        }

        @media only screen and (min-width: 700px) {
            width: 80%;
        }
        @media only screen and (min-width: $desktop-width) {
            width: 700px;
        }
    }
}

.team {
    background-image: url('../../assets/backgrounds/bg_meettheteam.jpg');
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 40px;
    color: #fff;

    h1 {
    }
    .subtitle {
        margin-bottom: 40px;
    }

    .name {
        display: block;
        color: $light-green;
    }
    .members {
        padding-bottom: 40px;
        text-align: left;
        display: inline;

        .member {
            padding: 8px 20px;
            width: 35%;
            display: inline-block;
            text-align: center;
            font-size: 15px;

            .headshot {
                width: 118%;
                position: relative;
                left: 50%;
                margin-left: -100%;
            }
        }

        .member:nth-child(even) {
            top: 80px;
            position: relative;
        }
        .member:nth-last-child() {
            visibility: hidden;
            top: 0px;
        }
    }
    @media only screen and (min-width: 370px) {
        .members .member .headshot {
            width: 180px;
        }
    }

    @media only screen and (min-width: 800px) {
        .members {
            width: 800px;
            display: block;
            margin: auto;
            padding-bottom: 0px;

            .member {
                width: 23%;
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 40px;

                &:nth-child(even) {
                    top: 0px;
                }
                &:nth-last-child(1) {
                    display: none;
                }
                &:nth-last-child(2) {
                    margin-left: 22px;
                }
                &:nth-last-child(3) {
                    top: 0px;
                    margin-left: 150px;
                }
            }
        }
    }
}

.hex-area {
    -webkit-transform: perspective(600px) rotateX(60deg) scale(0.7) rotateZ(-20deg);
    -moz-transform: perspective(600px) rotateX(60deg) scale(0.7) rotateZ(-20deg);
    -ms-transform: perspective(600px) rotateX(60deg) scale(0.7) rotateZ(-20deg);
    -o-transform: perspective(600px) rotateX(60deg) scale(0.7) rotateZ(-20deg);
    transform: perspective(600px) rotateX(60deg) scale(0.7) rotateZ(-20deg);
    position: fixed;
    width: 440px;
    right: -30px;
    z-index: 1;
    opacity: .15;        

    @media only screen and (min-width: $tablet-width) {
        -webkit-transform: perspective(600px) rotateX(60deg) rotateZ(-20deg);
        -moz-transform: perspective(600px) rotateX(60deg) rotateZ(-20deg);
        -ms-transform: perspective(600px) rotateX(60deg) rotateZ(-20deg);
        -o-transform: perspective(600px) rotateX(60deg) rotateZ(-20deg);
        transform: perspective(600px) rotateX(60deg) rotateZ(-20deg);
        right: 100px;
    }

    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        display: none;
    }}
    .hex-row {
        height: 200px;
    }
    .bg-hex {
        @include hex(1, $gray, $green);

        margin: 25px -4px 25px -4px;
        transform: rotate(30deg);
        display: inline-block;
        position: relative;


        &.up {
            top: -6px;
            text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

    }
}
