<app-header></app-header>


<div class="hero panel" id="home">
<div class="content">
    <h1 class="intro">JAPAN</h1>
    <div class="subtitle">
        We are so happy you want to join us
    </div>
</div>
</div>

<div class="about panel" id="about">
<div class="content">
    <h1 class="header">Coming Soon</h1>
    <div class="text">
        This page will be filled with important infomation infomation pertaining to both our wedding as well as what you should do while you are in Japan.  Remember, its a wedding we wont be able to spend much individual time with you so plan for lots of amazing Japanese adventures! 
    </div>
<!--     <div *ngFor="let acc of accordianData; let i = index" class="accordion">
        <div appAnalytics="Home|Click|Accordian {{state[i]}}|{{i}}" class="accordion-bar" (click)="openAccordion(i)">
            {{acc.title}}
            <img [@rotatedState]="state[i]" class="arrow-down" src="../../assets/icon_carrot.png" />
        </div>
        <div class="body" [@openState]="state[i]" [innerHTML]="acc.body">
        </div>  
    </div> -->
</div>
</div>


<app-footer></app-footer>

