@import '../../core/vars';


.hero {
    padding-top: ($header-height + 100px);
    padding-bottom: 100px;
    background: url('../../assets/backgrounds/tokyo.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;


    .intro {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 165px;
        transform: scale(1.9, 1);
    }

    .subtitle {
        margin: 40px 60px;
        font-size: 22px;
    }

    @media only screen and (min-width: $desktop-width) {
        .title {
            font-size: 90px;
            margin-bottom: 42px;
        }

        .intro {
            margin-bottom: 0px;
        }
    }
}

.about {
    background-color: $primary;
    padding-top: 35px;
    padding-bottom: 0px;
    color: $text-dark;

    .text {
        width: 80%;
        margin: auto;
        margin-bottom: 65px;
    }

    @media only screen and (min-width: $desktop-width) {
        padding-bottom: 60px;
    }
}

