@import '../../core/vars';


.contact {
    // height: 220px;
    // background-image: url('../../assets/backgrounds/mural.jpg');
    // background-position: bottom;
    // background-size: cover;

    height: 115px;
    background-color: $backdrop-light;

    .message {
        margin-top: 100px;
    }

}