@import '../../core/vars';


.contact {
    height: 220px;
    background-image: url('../../assets/backgrounds/mural.jpg');
    background-position: bottom;
    background-size: cover;

    .contact-title {
        margin-bottom: 10px;
    }

    .email {
        background: $brown;
        border: 1px solid #fff;
        height: 25px;
        width: 215px;
        color: #fff;
        padding: 0px 10px;
        font-size: 14px;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #ccc;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #ccc;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #ccc;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #ccc;
        }
    }

    .cta {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .copyright {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 10px;
    }

    .social {
        a {
            padding: 0px 2px;
        }
        img {
            width: 30px;
        }
    }
}