@import '../../core/vars';

.help-btn {
    position: fixed;
    top: 0;
    z-index: 9998;
    right: calc(50% - 98px + 36px);
    padding: 7px 10px;
    margin-top: 8px;
    @media only screen and (min-width: $desktop-width) {
        right: 260px;
    }
}
.breaker {
    .heart {
        width: 30px;
    }
    .line {
        height: 2px;
        border-top: 1px solid $brown;
        border-bottom: 1px solid $brown;
        display: inline-block;
        width: 100px;
        margin-bottom: 10px;

        &.long {
            display: inline-block;
            width: 250px;
            margin-top: 15px
        }
    }
}

.rsvp {
    background-color: $scheme-blue;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding-top: 20px;
    overflow: hidden;
    transition: all .5s ease-in;
    top: -400px;


    app-input {
        width: 80%;
        display: inline-block;
    }

    &.open {
        top: 0px;
    }

    .checkboxes {
        margin-bottom: 10px;

        input {
            margin-left: 7px;
        }
        label {
            margin-right: 7px;
        }
    }

    .guests {
        width: 40%;
    }

    .cta {
        margin-bottom: 20px
    }

    .check-heart {
        width: 20px;
    }
}

.hero {
    padding-top: ($header-height + 100px);
    padding-bottom: 100px;
    color: $brown;
    min-height: 400px;
    background-color: $gray;

    .background0, .background1 {
        position: absolute;
        background-position: center;
        // background-color: $scheme-gray;
        background-size: cover;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
    .background0 {
        // background-image: url('../../assets/backgrounds/clownfish_before.jpg');
        opacity: .5;
        @media only screen and (min-width: $desktop-width) {
        }
    }
    .background1 {
        // background-image: url('../../assets/backgrounds/clownfish_after.jpg');
        opacity: 0;
        @media only screen and (min-width: $desktop-width) {
        }
    }

    .content {
        position: relative;
        z-index: 1;
    }

    .names {
        letter-spacing: 7px;
        font-size: 25px;
    }
    .invite {
        font-weight: 900;
        margin-top: 32px;
        font-size: 80px;
        transform: scale(1, 2.6);
    }
    .wedding {
        letter-spacing: 11px;
        font-size: 28px;
        margin-top: 43px;
        margin-left: 7px;
    }
    .cele {
        font-weight: 900;
        font-size: 65px;
        transform: scale(1, 2.1);
        margin-top: 16px;
    }
    .date {
        letter-spacing: 14px;
        font-size: 42px;
        margin-top: 20px;
        margin-left: 18px;
    }

    .cta {
        display: block;
        margin: 40px auto 0px auto;
    }


    @media only screen and (min-width: $desktop-width) {
        min-height: 600px;

        .intro {
            margin-bottom: 0px;
        }
    }
}

.about {
    padding-top: 35px;
    padding-bottom: 0px;
    background-color: $logo-blue;
    color: $gray;

    @media only screen and (min-width: $desktop-width) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .abouts {
        width: 40%;
        display: inline-block;
        margin: auto 20px;
        text-align: justify;

        h3 {
            text-align: center;
        }

        @media only screen and (min-width: $desktop-width) {

        }
    }

    .beating-heart {
        width: 200px;
    }
}

.photos {
    color: $brown;
    background-color: $scheme-gray;
    padding-bottom: 200px;
    padding-top: 1px;

    @media only screen and (min-width: $desktop-width) {
        padding-bottom: 100px;
    }

    h1 {
        margin-top: 40px;
        margin-bottom: 48px;

        @media only screen and (min-width: $desktop-width) {
            margin-bottom: 10px;
        }
    }

}

.details {
    color: $brown;
    padding-top: 10px;
    padding-bottom: 40px;

    &::after {
        background-image: url('../../assets/backgrounds/cherry.jpg');
        background-attachment: fixed;
        background-size: cover;
        content: "";
        display: block;
        position: absolute;
        z-index: -1;   
        width: 100%;
        height: 100%;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    @media only screen and (min-width: $desktop-width) {
        padding-top: 1px;
    }

    h1 {
        margin-bottom: 0px;
    }
    .breaker {
        margin-bottom: 15px;
    }

    .info-card {
        width: 80%;
        background: rgba(255,255,255,.8);
        border-radius: 4px;
        margin: auto;
        border-top: 10px solid $scheme-gray;
        padding-bottom: 30px;
        margin-bottom: 20px
    }
}
